
<div class="container d-flex flex-wrap">


<div class="animal-container">

<div class="d-flex flex-wrap add-container">
  {{{content0}}}
  {{{content1}}}
  {{{content2}}}
  {{{content3}}}
  {{{content4}}}
  {{{content5}}}
</div>
</div>

</div>


<div class="container">
  <div class="btn-inner-center">
    <button type="button" class="btn btn-success btn-animals">Показать еще</button>
  </div>
</div>
